.container {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.container:nth-child(even) {
  margin-right: 0;
}

.dragging {
  opacity: 0.5;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
