.app {
  text-align: center;
  padding: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loader {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
