.container {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--background);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientslist {
  padding-left: 16px;
  display: flex;
}

.ingredientitem {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--colors-interface-accent);
  background-color: var(--background-alt);
  margin-left: -16px;
}

.ingredientimg {
  object-fit: cover;
  object-position: -24px 4px;
  display: block;
  width: 90%;
  height: 90%;
}

.price {
  display: flex;
  gap: 8px;
}
