.nav {
  text-align: left;
  max-width: 320px;
  margin-right: 60px;
}

.list {
  margin-bottom: 80px;
}

.link {
  display: flex;
  align-items: center;
  height: 64px;
  color: var(--text-inactive-color);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

.active {
  color: var(--text-primary-color);
}

.active:hover {
  opacity: 1;
}

.caption {
  opacity: 0.4;
}
