.header {
  background-color: var(--background);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nav logo login";
  max-width: 1280px;
  margin: 0 auto;
}

.navigation {
  grid-area: nav;
}

.list {
  display: flex;
}

.link {
  display: flex;
}

.logoWrap {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  grid-area: login;
  margin-left: auto;
}
